<div class="container">
<% if @rooms.length>0 %>
 <ul>
 <% @rooms.each do |room| %>
  <a href = "/posts/<%= room.post_id %>"><li>
    <p><%= room.post.place%></p><br>
    <p><%= room.post.date%></p><br>
    <p><%= room.post.mxpeople%>人</p><br>
  </li></a>
  <hr>
  <% end %>
</ul>
<% else %>
<p class="error_message mt-4">まだ応募していません</p>
<% end %>
</div>