<div class="container">
<% if @rooms.length>0 %>
<ul>
 <% @rooms.each do |room| %>
   <a href="/rooms/<%=room.id%>"><li>
        <p><%= room.post.company.name %></p>
   </li></a>
 <% end %>
</ul>
<% else %>
 <p class="error_message mt-4">まだ応募していません</p>
<% end %>
</div>