<p> <%= @resource.name %>さん、「みんなの部屋」ご利用いただきありがとうございます。</p>

<p><%= link_to 'こちらのリンク', edit_password_url(@resource, reset_password_token: @token) %>からパスワードの再設定を行ってください。</p>

<p>本メールに心当たりがない場合、無視してください。</p>

<p>上記リンクで再設定を行わない限りパスワードが変更されることはありません。</p>
