<div class="container-fluid">
  <div class="row">

  
   <div class="mx-auto my-4">
   <a href="/companies/login_form" class="select-card">
    <div class="card">
      <img class="card-img-top" src="/images/companyimage.png">
      <div class="card-body">
      <p class="card-text">企業でログインする</p>
    </div>
    </div>
    </a>
   </div>


   <div class="mx-auto my-4">
     <a href="/students/login_form" class="select-card">
     <div class="card">
        <img class="card-img-top" src="/images/studentimage.png">
        <div class="card-body">
        <p class="card-text">学生でログインする</p>
     </div>
    </div>
    </a>
   </div>


  </div>
</div>

