<table>
 <tr>
   <th>日付</th>
   <td><input type="text"></td>
 </tr>
 <tr>
   <th>場所</th>
   <td><input type="text"></td>
 </tr>
 <tr>
   <th>人数</th>
   <td><input type="text"></td>
 </tr>
 <tr>
   <th>条件</th>
   <td><textarea name="" id="" cols="30" rows="5"></textarea></td>
 </tr>
 <tr>
   <th>詳細</th>
   <td><textarea name="" id="" cols="30" rows="5"></textarea></td>
 </tr>



</table>