<div class="container-fluid">
  <div class="row">

  
   <div class="mx-auto my-4">
   <a href="/companies/new" class="select-card">
    <div class="card">
      <img class="card-img-top" src="/images/companyimage.png">
      <div class="card-body">
      <p class="card-text text-center">企業で登録する</p>
    </div>
    </div>
    </a>
   </div>
   
   <div class="mx-auto my-4">
     <a href="/students/new" class="select-card">
     <div class="card">
        <img class="card-img-top" src="/images/studentimage.png">
        <div class="card-body">
        <p class="card-text text-center">学生で登録する</p>
     </div>
    </div>
    </a>
   </div>


  </div>
</div>
