<div class="container-fluid">
  <div class="row">

  
   <div class="mx-auto my-4  col-xs-12 col-sm-6">
   <a href="/companies/new" class="select-card">
   <div class ="row">
    <div class="card mx-auto col-5">
      <img class="card-img-top" src="/images/companyimage.png">
      <div class="card-body">
      <p class="flexible-fontsize text-center">企業で登録する</p>
    </div>
    </div>
    </div>
    </a>
   </div>


   <div class="mx-auto my-4  col-xs-12 col-sm-6">
     <a href="/students/new" class="select-card">
     <div class="row">
     <div class="card mx-auto  col-5">
        <img class="card-img-top" src="/images/studentimage.png">
        <div class="card-body">
        <p class="flexible-fontsize text-center">学生で登録する</p>
     </div>
    </div>
    </div>
    </a>
   </div>


  </div>
</div>