<div class="container-fluid">
  <div class="row">
    <div class="col-12 top-image">

      <img src="/images/topimage1.jpg">

      <h1>みんなの部屋</h1>

      <p class="subtitle mt-2">企業と学生をスペースで結ぶ</p>

      <a href="users/select" class="btn btn-success new-btn mt-4 p-1">新規登録</a>
      <a href="users/login_select" class="btn btn-info login-btn mt-4 p-1">ログイン</a>

    </div>
  </div>
</div>


<div class=container-fluid>
  <div class="row jumbotron">
    <div class="col-12">

      <h1 class="display-3 mb-4">みんなの部屋とは？</h1>

      <p class="lead">「みんなの部屋」は、「空間を欲している学生」と、「学生との接点を欲している企業」を、スペースレンタルを通じて結びつけるサービスです。<br>
      企業は、「土日の会議室」などのデッドスペースを、金銭以外の交換条件と共に貸し出し情報として掲載でき、学生は希望に合う掲載に応募し、交渉が成立すれば無料でスペースを借りることができます。<br>
      企業の認知度向上と、お金のない学生の活動空間確保を、企業のデッドスペースという生かしきれていない価値を掘り起こすことで一挙に実現することが本サービスの目的です。</p>
      
    </div>
  </div>
</div>
