<div class="container-fluid">

  <% if session[:company_id] %>
  <div class="row">
    <div class="col col-md-2">
      <ul class="show_list">
        <li><a href="/posts"><i class="fa fa-search" aria-hidden="true"></i> 検索する</a></li>
        <li><a href="/posts/new"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 掲載する</a></li>
        <li><a href="/companies/rooms_index"><i class="fa fa-commenting-o" aria-hidden="true"></i> メッセージ</a></li>
        <li><a href="posts"><i class="fa fa-history" aria-hidden="true"></i> 掲載履歴</a></li>
      </ul>
    </div>
  </div>
  <% end %> 

</div>

<div class="container text-center">

    <div class="icon my-4">
      <%= image_tag  @company.icon.to_s %>
    </div>

    <h2 class="user_name"><%= @company.name %></h2>
    
    <div class="profile text-left mt-4">
      <p>プロフィール:<%= @company.profile %></p>
    </div>

    <% if session[:company_id]%> 
     <a href="/companies/<%= @company.id %>/edit" class="edit_link"><i class="fa fa-pencil" aria-hidden="true"></i>編集</a>
    <% end %>
    
</div>
