<div class="main users-new">
  <div class="container text-center mt-2">
  <%if @error_message%>
    <div><%=@error_message%></div>
    <%end%>
    <%=form_tag("/login")do%>
   
      <div class="form-body">
      <p>ユーザーID</p>
      <input name="userid">
      <p>パスワード</p>
      <input name="password" type="password">
      <br>
      <input class="mt-2" type="submit" value="ログイン">
    <%end%>
      
      </div>

  </div>
</div>