

<%=form_tag("/user/create_student")do%>
<table>
 <tbody>
   <tr>
   <th class="userid">ユーザーID</th>
   <td><input type="text" name="userid"></td>
   </tr>
    <tr>
    <th class="student-name">名前</th>
    <td class=""><input type="text" name="name"></td>
    </tr>
    <tr>
    <th class="college_name">大学名</th>
    <td class=""><input type="text" name="college_name"></td>
    </tr>
    <tr>
    <th class="grade">学年</th>
    <td class=""><input type="text" name="grade"></td>
    </tr>
    <tr>
    <th class="icon-image">アイコン</th>
    <td class=""><input type="file" name="icon"></td>
    </tr>
    <tr>
    <th class="profile-text">プロフィール</th>
    <td class=""><textarea name="profile"></textarea></td>
    </tr>
 </tbody>
</table>
<input type="submit" value="登録する">
<%end%>